<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Inquery on Dukeleads.</h1>
    <p>First Name : <%= @user[:first_name] %></p>
    <p>Last Name: <%= @user[:last_name] %></p>
    <p>Email : <%= @user[:email] %></p>
    <p>Discription: <%= @user[:discription] %></p>
  </body>
</html>
