<h1>Welcome to the Duke Leads – FZCO Privacy Notice</h1>
<p>This information has been produced to help you understand everything
you need to know about the way Duke Leads - FZCO collects, uses and
shares personal data, what your legal rights are and how to exercise
them.</p>
<p>If there are any changes to the way we process your personal data in the
future they will be updated here on this page so be sure to check back.
Duke Leads - FZCO takes its responsibility of protecting your data very
seriously and we do advise you get to know our practices – If there’s
anything here you don’t understand or if you want to ask any questions,
please feel free to contact us (detail are at the end).</p>
<h1>Who is the Data Controller?</h1>
<p>We are Duke Leads – FZCO is a United Arab Emirates company
Registered address:
DSO-IFZA, Dubai Silicon Oasis, Dubai, United Arab Emirates
Licence Number:
6245</p>
In this document Duke Leads – FZCO may be referred to as “we”, “us”, or
“our”.
<h1>What kinds of personal data does Duke Leads – FZCO process?</h1>
Duke Leads - FZCO collects personal data for specific purposes; with that
in mind we have created a list of the types of personal data that we may
collect, either directly from yourself or from other sources, in order to
achieve those purposes.
The kinds of personal data we may collect are:
If you are a: We may pLead Forename, surname, email, IP address
Partners Name, address, telephone, eAffiliates Name, address, telephone, eWhat are the purposes Duke Leads - FZCO collects personal data
for?
Duke Leads - FZCO uses personal data firstly to fulfil any contractual
obligations that exist between us and yourself; where we request personal
data be provided to enter into, or meet the terms of any such contract,
you will be required to provide the relevant personal data or we will not be
able to deliver the goods or services you want. In such cases the lawful 
basis of us processing the personal data is that it is necessary for the
performance of a contract.
We are required by law to process personal data for purposes relating to
our legal obligations, these include:
 To provide for the organisations’ financial commitments, or to
relevant financial authorities
 To carry out required business operations and due diligence (E.g.
administration, reorganisations, security, investment or
corporate/asset sales)
 To cooperate with relevant authorities for reporting criminal activity,
or to detect and prevent fraud
 To investigate any insurance claims, claims of unfair dismissal,
claims of any kind of harassment or of discrimination, or any other
claim whereby the organisation may have to defend itself
Where we have received your consent to do so; Duke Leads - FZCO will
use your personal data for the following purposes
 To inform you of other goods and services provided by third-party
organisations. The goods and services we will promote are mobile
phone, sim deals, broadband deals, loan and finance, energy, debt
management and other relevant money-saving offers under the
grounds of legitimate interest.
 To provide your personal data to third-party organisations for their
own future marketing purposes.
The third-party organisation we may provide your personal data to
are listed individually on each of our data processing websites. You
can find the list of companies by going to the privacy policy on each
website.
 In sharing your data with the companies listed above, we rely on a
lawful basis called 'legitimate interest', as our business depends on
our ability to partner with third parties who process personal data
for marketing-related reasons.
 To provide services available through online signup to the general
public.
Withdrawing your consent for us to process your personal data will not
affect the lawfulness of the processing beforehand.
We will also process personal data to achieve our various legitimate
business interests; these are purposes that have been defined by us
where we have balanced the necessity on our part to process the data for
each purpose against your own expectations, interests and legal rights.
Our legitimate interests for processing personal data are:
 To provide goods and services where it has been requested
 To send notification on subjects to individuals who have asked to be
kept informed (i.e. subscribers)
Where does Duke Leads - FZCO obtain personal data from?
We will collect personal data directly from you in various ways. This could
include when you complete an online form, or if you provide the data
directly to a representative of Duke Leads – FZCO.
We also gather personal data by the following methods:
 From third-party organisations provided for a specific purpose; to
deliver a product or service that has been requested.
Who will Duke Leads - FZCO share your personal data with?
In order to achieve the above stated purposes for which we process your
personal data, we may have to share your personal data with some
specific third-party organisations.
We shall make all reasonable efforts to ensure that any third-party we
share your personal data with is also compliant with data protection law.
The third parties we may share your personal data with include:
 Third party organisation acting as either data processers or data
controllers where it is necessary to provide goods or services that
have been requested, or to achieve our business purposes.
 Third party data processers or data controllers necessary to setup
various resources.
 Third party data processers acting as marketing agents.
The specific types of third-party Duke Leads - FZCO may share your
personal data with include:
IT platform providers, aggregators
Duke Leads - FZCO is not responsible for the data protection compliance
of any of these third parties.
If we sell or reorganise our business, or if otherwise required by law or by
an authorised regulator, we may transfer your personal data as a part of
the general business data to the relevant parties.
Where will Duke Leads - FZCO store your personal data?
Duke Leads - FZCO will store your personal information on our database,
you can request a subject access request to find out what data we have
hold by emailing data@dukeleads.com and request to opt out of
marketing by emailing “stop” to emailing data@dukeleads.com . You may 
also click an unsubscribe link in any of our emails or text the number
listed at the bottom of our SMS messages to opt out. Your data may also
be stored in third party databases depending on what you opt into on our
websites.
How long will Duke Leads - FZCO keep your personal data for?
We will keep your personal data only for as long as required in order to
achieve the purposes for which it was collected, in line with this privacy
notice.
The following criteria apply that determine the period for which we will
store your personal data:
 Until we are no longer required to do so in order to comply with any
regulatory requirements or financial obligations that we are subject
to.
 Until we are no longer required to do so by any law it is subject to.
 Until all purposes for which the data was originally gathered have
become irrelevant or obsolete.
 We will not retain your data for longer than 6 months after your last
interaction.
Where the lawful basis of our processing is based on protection of vital
interests and insofar any relevant health and safety obligations apply,
Duke Leads - FZCO may retain your personal data for up to 5 years.
Your Rights, Our Responsibility
There are several rights granted to you immediately upon providing us
with your personal information; some of these are mentioned above. We’d
like you to know that at Duke Leads - FZCO we take your rights as a
natural person seriously and will always conduct ourselves in a way that is
considerate of our responsibility to serve your legal rights.
The Right of Access
This grants you the right to confirm whether or not your personal data is
being processed, and to be provided with relevant details of what those
processing operations are and what personal data of yours is being
processed.
If you would like access to the personal data we have about you, we ask
that you contact us by using our details below
The Right to Rectification
This one is fairly straightforward; if you notice that the data we have
about you is inaccurate or incomplete, you may request we rectify the 
mistake. We will make every effort to respond to requests of this type
immediately
The Right to Objection
The right to object is a basic freedom all democracies enjoy. If you wish to
object to the way we use, or have used, your personal data you may do so
freely.
The Right to Portability
This is a legal right afforded to you that states we must pass on all of the
details you have provided to us in a machine-readable format, either to
your or to another provider of your choosing.
The Right to Complain
We will always try to maintain the highest standards and encourage the
confidence our customers have in us as an organisation. In order that we
can achieve this we do request that any complaints be first brought to our
attention so we can properly investigate matters; if however you would
like to complain about Duke Leads – FZCO to a supervisory authority you
may do so by contacting the regulator in your country.For the UK this is
the information commissioner's Office (the ICO) and their contact details
are:
The Information Commissioner’s Office,
Wycliffe House, Water Lane, Wilmslow,
Cheshire SK9 5AF.
http://ico.org.uk/
Tel. 0303 123 1113
Duke Leads - FZCO contact details:
Duke Leads - FZCO
DSO – IFZA, Dubai Silicon Oasis, Dubai, United Arab Emirates
data@dukeleads.com
Who is the Duke Leads - FZCO Data Protection Officer?
Ametros Group Ltd
Lakeside offices, Thorn Business Park, Hereford, England, HR2 6JT
dpo@ametrosgroup.com
This privacy policy was last reviewed and updated on 4th of March 2021