<div class="bg-black">
  <div class="container">
    <div class="row w-100 m-0 py-3">
      <div class="col-lg-3 text-lg-left text-center">
        <a href="/terms" class="m-0 font-railway text-white ">Terms and Conditions</a>
      </div>
      <div class="col-lg-3 text-lg-left text-center">
        <a href="/privacy-policy" class="m-0 font-railway text-white ">Privacy Policy</a>
      </div>
      <div class="col-lg-3 text-lg-left text-center">
        <a href="/cookie-policy" class="m-0 font-railway text-white ">Cookie Policy</a>
      </div>
      <div class="col-lg-3 mt-2 mt-lg-0">
        <p class="m-0 font-railway f-17 text-white text-lg-right text-center">© 2022 All rights reserved DUKE LEADS - FZCO
        </p>
      </div>
    </div>
  </div>
</div>
